<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设计师排行榜</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="微素材">
    <meta name="description" content="寻找微素材" />

    <link rel="icon" href="/images/icons/logo.png" type="image/x-icon"/>
    <link href="/css/myCommon.css" rel="stylesheet" type="text/css" />
    <link href="/css/designer/index.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="container">
    <div id="headerWrap"></div>

    <div class="row clearfix">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">设计师排行榜</a></li>
                <!--<li role="presentation"><a href="#">需求分析</a></li>-->
            </ul>
        </div>
    </div>
    <div class="row clearfix" style="margin-top:20px;">
        <div id="rank-container">
            <!--总收入排行-->
            <div class="col-md-6" id="rank-left">
                <div id="all-income">
                    <h3>总收益榜</h3>
                    <div id="allincome-list" class="bg-gray">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>排名</th>
                                <th>设计师</th>
                                <th>总收益</th>
                                <th>作品数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td valign="middle"><span class="ranking-num">1</span></td>
                                <td><img width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=46094&size=big" /></td>
                                <td>88888</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><span class="ranking-num">2</span></td>
                                <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=3445&size=big" /></td>
                                <td>88888</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><span class="ranking-num">3</span></td>
                                <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=266521&size=big" /></td>
                                <td>88888</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><span class="ranking-num">4</span></td>
                                <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=56922&size=big" /></td>
                                <td>88888</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><span class="ranking-num">5</span></td>
                                <td><img width="72px" height="72px"  src="http://passport.vjshi.com/avatar?uid=273610&size=big" /></td>
                                <td>88888</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--周收入排行-->
            <div class="col-md-6">
            <div id="week-income">
                <h3>周收益榜</h3>
                <div id="weekincome-list" class="bg-gray">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>排名</th>
                            <th>设计师</th>
                            <th>总收益</th>
                            <th>作品数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="middle"><span class="ranking-num">1</span></td>
                            <td><img width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=46094&size=big" /></td>
                            <td>88888</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><span class="ranking-num">2</span></td>
                            <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=3445&size=big" /></td>
                            <td>88888</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><span class="ranking-num">3</span></td>
                            <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=266521&size=big" /></td>
                            <td>88888</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><span class="ranking-num">4</span></td>
                            <td><img  width="72px" height="72px" src="http://passport.vjshi.com/avatar?uid=56922&size=big" /></td>
                            <td>88888</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><span class="ranking-num">5</span></td>
                            <td><img width="72px" height="72px"  src="http://passport.vjshi.com/avatar?uid=273610&size=big" /></td>
                            <td>88888</td>
                            <td>10</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div id="footerWrap"></div>
</div>

<script src="/js/bootstrap/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/designer/index.js"></script>
</body>
</html>