<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>如何赚钱</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="微素材">
    <meta name="description" content="寻找微素材" />

    <link href="/css/myCommon.css" rel="stylesheet" type="text/css" />
    <link href="/css/mkMoney.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div id="headerWrap"></div>

    <div class="row clearfix">
        <div class="col-md-12" id="steps-container">
            <div id="htitle">
                <h2>简单几步，轻松赚钱</h2>
            </div>
            <div id="stepsWrap">
                <div class="step" name="1">
                    <p>上传</p>
                    <span>1</span>
                </div>
                <div class="step" name="2">
                    <p>审核</p>
                    <span>2</span>
                </div>
                <div class="step" name="3">
                    <p>销售</p>
                    <span>3</span>
                </div>
                <div class="step" name="4">
                    <p>收益</p>
                    <span>4</span>
                </div>
                <div class="step" name="5">
                    <p>提现</p>
                    <span>5</span>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" >

                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" id="stepContent">
                    <div class="item carouse-layout">
                        <div class="step-content">
                            <div >
                                <img class="carouse-img" src="/images/steps/step1.png" alt="First slide">
                            </div>
                            <div class="description">
                                <h3>在微媒体交易平台，你可以上传...</h3>
                                <p>视频素材、AE模板、会声会影模板、PPT模板、C4D工程文件、3D模型、EDIUS模板等待</p>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="step-content">
                            <div>
                                <img class="carouse-img" src="/images/steps/step2.png" height="240px" alt="Second slide">
                            </div>
                            <div class="description">
                                <h3>作品防重复系统，重分保护您的权益</h3>
                                <p>weisucai.cn每月拦截近万重复素材，为您的作品保驾护航，系统自动截图，识别透明通道，告别繁琐的操作。</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="step-content">
                            <div>
                                <img class="carouse-img" src="/images/steps/step3.png" height="240px" alt="Second slide">
                            </div>
                            <div class="description">
                                <h3>80%高收益率</h3>
                                <p>标价20积分，销售一次您将获得10积分</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="step-content">
                            <div>
                                <img class="carouse-img" src="/images/steps/step4.png" height="240px" alt="Second slide">
                            </div>
                            <div class="description">
                                <h3>提现6小时内到账</h3>
                                <p>在工作时间的6小时内打款到您的支付宝或银行卡</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="step-content">
                            <div>
                                <img class="carouse-img" src="/images/steps/step5.png" height="240px" alt="Second slide">
                            </div>
                            <div class="description">
                                <h3>给每个设计师平等的销售权利</h3>
                                <p>杜绝寡头，记事是新手也能获得良好的销售机会</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="footerWrap"></div>
</div>


<script src="/js/bootstrap/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/mkMoney.js"></script>
</body>
</html>